@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");

$body-bg: #000;
$body-color: #fff;
$font-weight-base: 300;
$line-height-base: 1rem;
$font-size-base: 1rem;
$accent-color: rgba(255, 255, 255, 0.1);
$accent-color-active: rgba(255, 255, 255, 0.4);

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  position: absolute;
  display: flex;
  min-height: 100%;
  width: 100%;
}

body {
  min-height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: $body-color;
  text-align: left;
  background-color: $body-bg;
}

footer,
header {
  background-color: $accent-color;
  min-width: 320px;
}

header {
  border-bottom: 1px solid white;
}

footer {
  border-top: 1px solid white;

  &.sticky {
    position: fixed;
    width: 100%;
    bottom: 0;
  }
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  padding: 0;
  border: none !important;
  font-size: inherit;
  appearance: none;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

main {
  padding: 3rem 0;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.container {
  max-width: 860px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}

.text-center {
  text-align: center;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0;

  svg {
    fill: #999;
  }

  &__item {
    display: flex;
    color: #999;
    transition: ease-in-out color 0.15s;
    padding: 0.25rem 0;
    text-decoration: none;
    text-transform: uppercase;

    &:hover,
    &_active {
      color: #fff;
      text-decoration: none;
      svg {
        fill: #fff;
      }
    }
  }
}

.d-none {
  display: none;
}

.loader {
  width: 3rem;
  height: 3rem;
  border-top: 0.5rem solid #999;
  border-left: 0.5rem solid #999;
  border-right: 0.5rem solid #eee;
  border-bottom: 0.5rem solid #eee;
  border-radius: 100%;
  animation: spin 1s 0.1s infinite linear;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  text-decoration: none;
  color: $body-color;
  text-transform: uppercase;
  border-radius: 2rem;
  background-color: $accent-color;
  transition: background 0.3s ease;
  cursor: pointer;
  margin-bottom: 1rem;

  &:hover {
    background-color: $accent-color-active;
  }
}

.alert {
  padding: 2rem 3rem;
  margin: 3rem 0;
  border-radius: 0.25rem;
  &_danger {
    background-color: rgba(255, 0, 0, 0.2);
    border: 1px solid rgba(255, 0, 0, 0.3);
  }
}

.data-input {
  padding: .5rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid #fff;
  font-size: $font-size-base;

  &_invalid {
    border-color: rgb(255, 0, 0);
  }

  &_valid {
    border-color: rgb(0, 255, 0);
  }

  &_textarea {
    width: 100%;
    height: auto;
    min-height: 400px;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  min-height: 200px;

  &_loading {
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: inset 1px 1px 0px #ccc, inset -1px -1px 0px #ccc;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.3);
      z-index: 99;
    }

    img {
      width: 100%;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
